/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* General */
a {
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#container {
    width: 100%;
    margin: 0 auto;
}

/* Header navigation */
#navigation, #footer {
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: sans-serif;
    padding-bottom: 4px;
}

#navigation li, #footer li {
    display: inline;
}

#navigation li a {
    color: rgb(44, 44, 44);
    margin-right: 18px;
}

.left-panel, .right-panel {
    display: inline;
    font-size: 0.75em;
}

.left-panel {
    margin-left: 28px;
    margin-top: 24px;
    float: left;
}

.right-panel {
    margin-right: 28px;
    margin-top: 16px;
    float: right;
}

.right-panel ul, .right-panel button {
    display: inline;
}

.right-panel button {
    font-size: 1.08em;
    font-weight: bold;
    background-color: rgb(35, 131, 255);
    color: #fff;
    padding: 6px 12px;
    border-width: 0;
    border-radius: 2px;
}

.right-panel button:hover {
    box-shadow: 0 1px 0 #ccc;
}

/* Center content */
#main {
    clear: both;
    margin: 105px auto 0 auto;
    width: 720px;
}

#main img {
    display: block;
    margin: 0 auto;
}

#main form {
    text-align: center;
}

/* Search box */
input[type="text"] {
    width: 492px;
    padding: 10px 40px 10px 48px;
    margin: 28px 0;
    border: 1px solid #ddd;
    border-radius: 24px;
    font-size: 1em;
    background-color: #fff;
    background-image: url("../images/magnifying-glass.png");
    background-position: 18px center;
    background-size: 14px;
    background-repeat: no-repeat;
}

input[type="text"]:hover {
    box-shadow: 1px 1px 8px #ccc;
}

/* Submit button */
.submit {
    width: 400px;
    margin: 0 auto;
}

.submit button {
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #5a5a5a;
    padding: 8px 16px;
    margin-right: 6px;
    font-size: 0.85em;
}

.submit button:hover {
    border-color: #ccc;
    background-color: #fafafa;
    background-image: linear-gradient(#fff, #f1f1f1);
    color: #404040;
    cursor: pointer;
    box-shadow: 0 1px 1px #ddd;
}

.submit button:active {
    border-color: rgb(131, 173, 253);
}

/* Footer */
#footer {
    background-color: #f1f1f1;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1.1em;
    border-top: 1px solid #ddd;
}

#footer li a {
    color: #5a5a5a;
}

#footer .left-panel li a {
    margin-right: 24px;
}

#footer .right-panel li a {
    margin-left: 24px;
}

#footer .left-panel, #footer .right-panel {
    margin-top: 16px;
    margin-bottom: 10px;
}