/* General */
a {
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
    cursor: pointer;
}

#container {
    width: 100%;
    margin: 0 auto;
}

/* Header navigation */
#navigation, #footer {
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: sans-serif;
    padding-bottom: 4px;
}

#navigation li, #footer li {
    display: inline;
}

#navigation li a {
    color: rgb(44, 44, 44);
    margin-right: 18px;
}

.left-panel, .right-panel {
    display: inline;
    font-size: 0.75em;
}

.left-panel {
    margin-left: 28px;
    margin-top: 24px;
    float: left;
}

.right-panel {
    margin-right: 28px;
    margin-top: 16px;
    float: right;
}

.right-panel ul, .right-panel button {
    display: inline;
}

.right-panel button {
    font-weight: bold;
    background-color: rgb(35, 131, 255);
    color: #fff;
    padding: 8px 16px;
    border-width: 0;
    border-radius: 2px;
}

.right-panel button:hover {
    box-shadow: 0 2px 2px #ddd;
}

/* Center content */

#main {
    clear: both;
    margin: 105px auto 0 auto;
    width: 720px;
}

#main img {
    display: block;
    margin: 0 auto;
}

#main form {
    text-align: center;
}

/* Search box */
input[type="text"] {
    width: 500px;
    padding: 10px 40px;
    margin: 28px 0;
    border: 1px solid #ddd;
    border-radius: 24px;
    font-size: 1em;
    background-color: #fff;
}

input[type="text"]:hover {
    box-shadow: 1px 1px 8px #ccc;
}

/* Submit button */
.submit {
    width: 400px;
    margin: 0 auto;
}

.submit button {
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #f1f1f1;
    color: #5a5a5a;
    padding: 8px 16px;
    margin-right: 6px;
    font-size: 0.85em;
}

.submit button:hover {
    border-color: #ccc;
    background-color: #fafafa;
    background-image: linear-gradient(#fff, #f1f1f1);
    color: #404040;
    cursor: pointer;
    box-shadow: 0 1px 1px #ddd;
}

.submit button:active {
    border-color: rgb(131, 173, 253);
}

/* Footer */
#footer {
    background-color: #f1f1f1;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 1.1em;
    border-top: 1px solid #ddd;
}

#footer li a {
    color: #5a5a5a;
}

#footer .left-panel li a {
    margin-right: 24px;
}

#footer .right-panel li a {
    margin-left: 24px;
}

#footer .left-panel, #footer .right-panel {
    margin-top: 16px;
    margin-bottom: 10px;
}